* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- REGOLE GENERALI ----------------  */

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.padding-generale {
  padding: 0 7%;
}

/* ---------------- HEADER ----------------  */

header {
  height: 8vh;
  width: 100%;
  background-color: #f3f4f5;

}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav #header-nav-left {
  display: flex;
  justify-content: flex-start;
}

header nav #header-nav-left li {
  padding-right: 30px;
}

header nav #header-nav-right {
  display: flex;
  justify-content: flex-end;
}

header nav #header-nav-right li {
  padding-left: 30px;
}

header nav ul li a {
  color: #a7a8aa;
  font-weight: 500;
  font-size: 18px;
}

header nav ul li a.black {
  color: black;
}

header nav ul li a:hover {
  color: black;
}

/* ---------------- MAIN ----------------  */

main {
  height: 92vh;
  width: 100%;
}

/* ---------------- NAV DEL MAIN ----------------  */

#main-nav {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-nav ul {
  display: flex;
}

#main-nav ul li {
  padding-right: 30px;
  display: flex;
  align-self: center;
}

#main-nav ul li.logo {
  padding-right: 60px;
}

#main-nav ul li a {
  color: #a7a8aa;
}

#main-nav ul li a:hover {
  color: black;
}

#main-nav ul li.logo a {
  font-size: 30px;
  font-weight: 600;
  color: black;
}

.download-btn {
  padding: 15px;
  color: white;
  background-color: black;
  border-radius: 10px;
}

.download-btn:hover {
  background-color: #3e4043;
}

/* ---------------- SEZIONE JUMBO ----------------  */

#jumbo {
  max-height: 83%;
  padding-top: 5%;
  display: flex;
  justify-content: space-between;
}

#jumbo-left {
  width: 40%;
  height: 100%;
}

#jumbo-left > * {
  padding-bottom: 50px;
}

#jumbo-left h2 {
  color: black;
  font-size: 60px;
}

#jumbo-left p {
  color: #a7a8aa;
  width: 70%;
  line-height: 25px;
}

#jumbo-left form .input-number {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lightgrey;
}

#jumbo-left form .input-number.left {
  width: 50px;
}

#jumbo-left form .input-number.right {
  width: 150px;
  margin-right: 20px;
}

#jumbo-left form .download-btn {
  padding-left: 30px;
  padding-right: 30px;
}

#jumbo-right {
  width: 60%;
  height: 100%;
  padding-left: 20%;
}

#jumbo-right img {
  width: 75%;
}
